<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Group22 Python Project</title>
    <link rel="stylesheet" href="../static/css/profile.css">
</head>
<script>
    function likeUser(uid1, uid2) {
        
        window.location.href = `/like/${uid1}/${uid2}`;
    }

    function unlikeUser(uid1, uid2) {

        window.location.href = `/unlike/${uid1}/${uid2}`;
    }


    function back(uid1) {
        window.location.href = `/profile/${uid1}`;

    }


</script>
<body>
    <h1>User Profile</h1>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div>
            {{ messages[-1] }}
        </div>
        {% endif %}
    {% endwith %}

    {% if user %}
    <p>Name: {{ user[0] }}</p> 
    <p>Email: {{ user[1] }}</p> 
    <p>Gender: {{ user[2] }}</p> 
    <p>Location: {{ user[3] }}</p> 
    <p>Age: {{ user[4] }}</p> 
    {% else %}
    <p>No user information available.</p>
    {% endif %}

    {% if interests %}
    <p>My interest:</p>
    {% for interest in interets %}
        <li>{{ interest }}</li>
        {% endfor %}
    {% else %}
    <p>Don't have any interest in record yet</p>
    {% endif %}
    
    <div>
        <button onclick="likeUser({{ uid1 }}, {{uid2}})">Like User 2</button>
        <button onclick="unlikeUser({{ uid1 }}, {{uid2}})">Unlike User 2</button>
        <button onclick="back({{uid1}}) ">Go back to profile page</button>

    </div>
</body>
</html>
