<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Group22 Python Project</title>
    <link rel="stylesheet" href="../static/css/profile.css">
</head>
<script>
    function match(uid) {

          
        window.location.href = `/match/${uid}`;
 
    }
    function view_liked(uid) {
        window.location.href = `/liked-users/${uid}`;
    }

    function view_unliked(uid) {
        window.location.href = `/unliked-users/${uid}`;
    }
    function view_mutual_liked(uid) {
        window.location.href = `/mutually-liked-users/${uid}`;
    }

</script>
<body>
    <h1>User Profile</h1>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div>
            {{ messages[-1] }}
        </div>
        {% endif %}
    {% endwith %}
    <p>User ID: {{ uid }}</p>

    {% if user %}
    <p>Name: {{ user[0] }}</p> 
    <p>Email: {{ user[1] }}</p> 
    <p>Gender: {{ user[2] }}</p> 
    <p>Location: {{ user[3] }}</p> 
    <p>Age: {{ user[4] }}</p> 
    {% else %}
    <p>No user information available.</p>
    {% endif %}
    
    <div>
        <button onclick="match({{ uid }})">Find match</button>
        <button onclick="view_liked({{ uid }})">View your liked users</button>
        <button onclick="view_unliked({{ uid }}) ">View your unliked users</button>
        <button onclick="view_mutual_liked({{ uid }})">View mutual liked users with you</button>
    </div>
</body>
</html>
